@import './variables.scss';

h1, h2, h3, h4, h5, h6, p, span, label, a {
    color: $color-font-dark;
}

h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
p {
    font-size: 1.2em;
    line-height: 1.5em;
}


// Mediaqueries
@media ( max-width : $tabletWidth ){
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.25em;
    }
    p {
        font-size: 1em;
        line-height: 1.2em;
    }
}