$routeTransitionDuration: 600ms;
$minAppHeight: 1vh;
$route-cubic-bezier: cubic-bezier(.59,0,.61,.98);

$color-site-bg: #f1f1f1;
$color-list-item-bg: #fff;
$color-list-item-bg-hover: #fdfdfd;
$color-font-dark: #111;
$color-heart: #f00;
$color-heart-hover: #ff69b4;